<h1>Productos</h1>

{{#if hayProductos}}
    {{#each productos}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.nombre}} {{this.descripcion}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">$ {{this.precio}}</h6>
                <p class="card-text">Codigo: {{this.codigo}}</p>
                <p class="card-text">Stock: {{this.stock}}</p>
            </div>
        </div>
    {{/each}}
{{else}}
<p class="sinProductos">No hay productos disponibles</p> 
{{/if}}